* {
    margin : 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* header/navbar styling */

header {
    padding: 0px 50px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

.navbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; 
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease; 
}

.navbar a:hover::before {
    transform: scaleX(1); 
    transform-origin: bottom left;
}

.title {
    display: flex;
    justify-content: flex-start;
    font-style: italic;
    font-weight: bolder;
}

h1 {
    font-style: italic;
    margin-left: 10px;
    margin-top: 35px;
}

#logo {
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

/* article styling */

article {
    display: contents;
    justify-content: center;
    text-align: justify;

}

.articleTitle {
    text-align: center;
}

#articleDesc {
    padding: 50px;
}

#articleImage {
    height: auto;
    width: 1370px;
}

/* read more section styling */

.rm {
    background-color: #AFCCA9;
    padding: 50px;
}

.readMore {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.readMore h2 {
    display: inline;
}

.card {
    width: 325px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#cardImage {
    height: 200px;
    width: 100%;
}

.cardContent {
    padding: 16px;
}

.cardContent h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.cardContent p {
    color: grey;
    font-size: 15px;
    line-height: 1.3;
}

.cardContent .readMoreBtn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #89BE63;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white;
}


/* footer styling */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #89BE63;
    color: white;
}

#socialIcon {
    color: white;
    size-adjust: 100px;

}

#footerLogo {
    width: 300px;
    height: 300px;
}